@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}


.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

ul,li,dl{
  margin: 0;
  padding: 0;
  list-style: none;
}
a, a:active, a:focus, a:visited, a:hover{
  text-decoration: none;
  outline: none;
  /*color: #333;*/
}
.fa, .glyphicon{
  vertical-align: middle;
}
::selection { background: rgba(232, 207, 38, 0.81); color: #fff;}
::-moz-selection { background: rgba(232, 207, 38, 0.81); color: #fff;}
::-webkit-selection { background: rgba(232, 207, 38, 0.81); color: #fff;}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #3e2723;
    padding-top: 50px;

    background: url(https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}
/*모달*/
.modal-dialog{
  margin: 120px auto 0;
  /*width:250px!important;*/
}
.modal .btn_form{
  margin-top: 20px;
  border-radius: 3px;
  letter-spacing: 5px;
}
.modal-header{
  text-align: center;
  /*background-color: #27a9e1;*/
}
.modal-header h4{
  margin-top: 30px;
  color: #27a9e1;
  font-weight: bold;
}
.modal-footer a:hover,.modal-footer a:focus{
  text-decoration: underline;
}
.modal-dialog{
  z-index: 1110;
}

.jumbotron {
    background-color: #27a9e1;
    color: #fff;
    padding: 150px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
    word-wrap: break-word;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #27a9e1;
    font-size: 50px;
}
.logo {
    color: #27a9e1;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #27a9e1;
}
.carousel-indicators li {
    border-color: #27a9e1;
}
.carousel-indicators li.active {
    background-color: #27a9e1;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #27a9e1;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn, .apply_btn {
    margin: 15px 0;
    background-color: #27a9e1;
    color: #fff;
    border-radius: 0;
}
.panel-footer .btn:hover, .apply_btn:hover {
    border: 1px solid #27a9e1;
    background-color: #fff !important;
    color: #27a9e1;
}
.panel-heading {
    color: #fff !important;
    background-color: #27a9e1 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.navbar {
    margin-bottom: 0;
    background-color: rgba(77, 91, 95, 0.34);
    color: #ddd;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #000 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #27a9e1 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #27a9e1;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.modal_finreport{
  width:450px;
}
.modal_finreport .modal-body img{
  width:448px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
  .modal_finreport{
    width:95%!important;
  }
  .modal_finreport .modal-body img{
    width:100%;
  }
  .panel-heading h1{
    font-size: 24px;
  }
  .panel-footer h3{
    font-size: 23px;
  }
  .jumbotron img{
    width: 100%;
  }

}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
  .container-fluid {
      padding: 40px 20px;
  }
  .jumbotron{
    padding:150px 10px;
  }
}


.table.table-bordered th{
  border-bottom:2px solid #27a9e1;
  color:#27a9e1;
}
.service_step .col-sm-4{
  margin-bottom: 40px;
}
.service_step h4{
  font-weight: 700;
  margin-bottom: 10px;
}

.modal-footer .btn {
    margin: 15px 0;
    background-color: #27a9e1;
    color: #fff;
    border-radius: 0;
}
.modal-footer .btn:hover {
    border: 1px solid #27a9e1;
    background-color: #fff !important;
    color: #27a9e1;
}
.board_pagenum{
  text-align: center;
}



/*게시판 리스트*/
.clickable-row{
  cursor: pointer;
}
.list_table{
  font-size: 0.9em;
}
.list_table_xs{
  width: 100%;
  border-top: 1px solid #ddd;
  padding:10px 0;
}
.list_table_xs div{
  width: 100%;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.list_table_xs:last-child{
  border-bottom: 1px solid #ddd;
}
.list_table_xs #subject{
  color: #333;
}
.list_table_xs #list_xs_sub{
  font-size: 0.8em;
  text-align: right;
}

.btn_form{
  border-radius:0;font-size:12px;color:#fff;
}


.write_table .write_index{
  text-align: center;
  font-weight: 700;
}

#read_index{
  text-align: center;
}
#read_sub_index{
  text-align: right;
  letter-spacing: 1px;
  font-size: 0.9em;
}
.read_index{
  text-align: center;
}
.read_textarea table td{
  padding: 15px 20px;
}
.read_textarea table{
  min-height: 200px;
}

.write_table{
  font-size: 0.9em;
}
.write_table input[type=text]{
  width:100%;height:100%;
}

.answer_table{
  margin-bottom: 20px;
  padding:20px 25px;
  border:1px solid #27a9e1;
  border-bottom:3px solid #27a9e1;
}

.img-profile{
  width: 150px;
}

strong {
  display: block;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.top-part {
  background-color: #27a9e1;
  color: white;
}

/* ------------------------------------ Click on login and Sign Up to  changue and view the effect
---------------------------------------
*/

/** {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}*/
.tran-gray {
  background-color: rgba(222, 227, 230, 0.75);
}

.tran-light-gray {
  background-color: rgba(1, 52, 83, 0.3);
  color: #fff;
}

.main_btn {
  position: relative;
  background-color: rgba(120, 144, 156, 0.55);
  width: 100%;
  text-align: center;
  border-radius:3px ;
margin-top: 60px;
padding: 15px 15px;
}

.footer-text {
 color: #3e2723;
}

.back_btn {
  
}

.back-image{
  /*background-image: url("https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg");*/
/*  width: 100%;
  height: 100%;  
*/  
background: url(https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn_login { 
background-color: #26C6DA;
  border: none;
  padding: 10px;
border-radius:3px;
box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
margin-top: 10px;
cursor: pointer;
}

.btn_sign_up { 
background-color: #ef5350;
  border: none;
  padding: 10px;
border-radius:3px;
box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
margin-top: 10px;
cursor: pointer;
}
.navbar-toggle .icon-bar {
    background-color: black;
}